/* 사이드바 */
nav {
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 84px;
    height: 750px;
    background: linear-gradient(135deg, #FFB6C1 0%, #FFA07A 100%);
    z-index: 9999;
    /* 가장 위에 배치 */
    transition: width 0.4s ease-in-out;
    padding: 10px 0;
    overflow: hidden;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 10px;
    /* 상단 오른쪽 모서리 둥글게 */
    border-bottom-right-radius: 10px;
    /* 하단 오른쪽 모서리 둥글게 */
}

nav:hover {
    width: 230px !important;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: 0;

    padding: 15px 20px;
    margin: 10px 0;

    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    width: 100%;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover,
.nav-link.active {
    background-color: #FF6B81;
    color: white;
    font-weight: bold;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-link i {
    font-size: 20px;
    color: #FF6B81;
    width: 24px;
    text-align: center;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.nav-link:hover i {
    color: white;
}

.nav-text {
    opacity: 0;
    transition: opacity 0.3s, margin-left 0.3s;
    margin-left: 10px;
    white-space: nowrap;
}

nav:hover .nav-text {
    opacity: 1;
    margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav {
        width: 60px !important;
    }

    nav:hover {
        width: 200px !important;
    }

    .nav-link {
        font-size: 14px;
        padding: 10px 15px;
    }

    .nav-link i {
        font-size: 18px;
    }
}
