@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

body {
    background-color: #FFB6A9;
    /* Peach background */
    color: #4A4A4A;
    font-size: 100%;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.button {
    font-weight: 300;
    color: #4A4A4A;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid #FFD1C1;
    padding: .5em;
    border-radius: 3px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s linear;
}

.button:hover {
    background-color: #FF847C;
    color: #fff;
}

p {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

h1 {
    text-align: center;
    font-size: 15em;
    font-weight: 100;
    text-shadow: #FF847C 2px 2px, #FF7F7F 4px 4px, #FF7575 6px 6px, #FF6A6A 8px 8px, #FF6060 10px 10px;
}