<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/nav.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/board/detail.css">
</head>

<body>
    <!-- 헤더 포함 -->
    <header th:replace="fragments/header.html :: header"></header>


    <main>
        <!-- 사이드바 포함 -->
        <nav th:replace="fragments/nav.html :: nav" style="width: 200px; margin-right: 20px;"></nav>

        <div class="container">
            <div class="header">
                <div class="category" id="post-category">
                    <span th:if="${board.boardCategory == 'notice'}">공지사항</span>
                    <span th:if="${board.boardCategory == 'free'}">자유게시판</span>
                    <span th:if="${board.boardCategory == 'qna'}">Q&A</span>
                </div>
                <div class="title" id="post-title"><h1 th:text="${board.boardTitle}"></h1></div>

                <div class="info" id="post-info">
                    작성자: <span th:text="${board.userNn}"></span> | 
                    작성일: <span th:text="${#temporals.format(board.boardWriteday, 'yyyy-MM-dd HH:mm')}"></span> | 조회수: <span th:text="${board.boardView}"></span> | 
                    찜:     <span th:text="${board.boardLiked}"></span> | 
                </div>

                <div class="actions">
                    <a href="/board"><button id="edit-post">목록으로</button></a>
                    <a th:href="@{/board/{id}/edit(id=${board.id})}"><button id="edit-post">수정</button></a>
                    <form th:action="@{/board/{id}/delete(id=${board.id})}" method="post" style="display:inline;">
                        <button id="delete-post" type="submit">삭제</button>
                    </form>
                </div>
            </div>

            <!-- 게시글 내용 -->
            <div class="content" id="post-content">
                <p th:text="${board.boardContent}"></p>
            </div>

            <div th:if="${board.boardImg}">
                <img th:src="${board.boardImg}" alt="이미지" style="max-width: 100%; height: auto;" /> <!-- 디코딩 필요 없음! -->
            </div>

            <div style="display: flex; justify-content: center; align-items: center;">
                <!-- 하트 버튼 위치 조정 -->
                <button type="button" class="like-btn" th:id="likeBtn" th:gurl="${board.id}"
                th:onclick="get_like(event, this.getAttribute('gurl'))">♥</button>
                <button type="button" class="unlike-btn" th:id="unlikeBtn" 
                th:gurl="${board.id}" th:onclick="get_unlike(event, this.getAttribute('gurl'))" style="display: none;">♥</button>
            </div>
            
                

            <!-- 댓글 섹션 -->
            <div class="comments-container">
                <h3>댓글 (<span id="comment-count" th:text="${board.boardComment}"></span>)</h3>

                <ul id="comment-list" class="comment-list">
                    <li th:each="replyItem : ${replyList}">
                        <span th:text="${replyItem.replyBody}"></span>

                        <form th:action="@{/board/{id}/dereply(id=${replyItem.id})}" th:if="${session.userId == replyItem.userId}" method="post">
                            <button class="delete-btn" type="submit">삭제</button>
                        </form>
                    </li>
                </ul>
                
                <form id="replyForm" th:action="@{/board/{id}/reply(id=${board.id})}" th:object="${reply}" method="post">
                    <div class="comment-input-div">
                            <input class="comment-input" type="text" id="comment-input" th:field="*{replyBody}" placeholder="댓글을 입력하세요">
                            <button class="comment-button" id="add-comment" type="button" onclick="submit_reply()"></button>>등록</button>
                    </div>
                </form>
            </div>

        </div>

    </main>

    <!-- 푸터 포함 -->
    <footer th:replace="fragments/footer.html :: footer"></footer>


    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.2/mo.min.js"></script>
    
    <!-- 최초 찜 버튼 상태 처리 -->
    <script th:inline="javascript">
        function init_like_set() {
            /* [[${likeList}]]를 사용하여 likeList를 JavaScript로 전달 */
            var isLike = [[${isLike}]]; // `likeList`는 서버에서 전달된 엔티티 리스트
            var userId = [[${session.userId}]];

            // console.log(isLike); // 서버에서 전달된 데이터가 JavaScript에서 확인 가능합니다.
            // console.log(userId); // 서버에서 전달된 데이터가 JavaScript에서 확인 가능합니다.

            if(isLike.userId == userId) {
                console.log("일치 존재");
                document.getElementById("unlikeBtn").style.display = "";
                document.getElementById("likeBtn").style.display = "none";
            }
        }

        init_like_set();
    </script>

    <!-- 찜 버튼 처리 -->
    <script th:inline="javascript">
        function get_like(event, id) {
            if([[${session.userId}]] == null) {
                alert("찜은 로그인 해야 할 수 있습니다.");
                return;
            }
            // 좋아요 요청을 위한 URL 생성
            const url = `/like/board/` + id + `/like`;

            // fetch를 이용해 GET 요청 보내기
            fetch(url, {
                method: 'GET',
            })
            .then(response => response.json())  // 서버에서 JSON 응답이 올 경우 처리
            .then(data => {
                // 성공적인 응답 후 처리 (예: UI 업데이트)
                console.log('Success:', data);
            })
            .catch(error => {
                // 오류 처리
                console.error('Error:', error);
            });

            document.getElementById("unlikeBtn").style.display = "";
            document.getElementById("likeBtn").style.display = "none";
        }

        function get_unlike(event, id) {
            // 좋아요 요청을 위한 URL 생성
            const url = `/like/board/` + id + `/unlike`;

            // fetch를 이용해 GET 요청 보내기
            fetch(url, {
                method: 'GET',
            })
            .then(response => response.json())  // 서버에서 JSON 응답이 올 경우 처리
            .then(data => {
                // 성공적인 응답 후 처리 (예: UI 업데이트)
                console.log('Success:', data);
            })
            .catch(error => {
                // 오류 처리
                console.error('Error:', error);
            });

            document.getElementById("unlikeBtn").style.display = "none";
            document.getElementById("likeBtn").style.display = "";
        }
    </script>

    <!-- 댓글 로그인 알림 -->
    <script th:inline="javascript"> 
        // 서브밋 함수를 정의
        function submit_reply() {
            if([[${session.userId}]] == null) {
                alert("댓글 작성은 로그인 해야 할 수 있습니다.");
                return;
            }
            
            var form = document.getElementById('replyForm');  // 폼을 찾기
            form.submit();  // 폼 제출
        }
    </script>

</body>

</html>