<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 수정</title>
</head>
<body>
    <h1>게시글 수정</h1>
    <form th:action="@{/board/{id}/edit(id=${board.id})}" th:object="${board}" method="post">
        <label for="title">제목</label>
        <input type="text" th:field="*{title}" required="required" />
        <br />
        <label for="content">내용</label>
        <textarea th:field="*{content}" required="required"></textarea>
        <br />
        <button type="submit">수정</button>
    </form>
    <br />
    <a href="/board">취소</a>
</body>
</html>
