<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Dessert Hub!</h1>
    <input type="button" value="유저 홈으로 이동" onclick ="location.href='/user';">
    <input type="button" value="추천 화면으로 이동" onclick ="location.href='/user';">
    <input type="button" value="소개 화면으로 이동" onclick ="location.href='/user';">
</body>
</html>