<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/user/nav.css">
    <link rel="stylesheet" href="/css/fragments/footer2.css">
    <link rel="stylesheet" href="/css/user/profile.css">

</head>

<body>

    <header th:replace="fragments/header.html :: header"></header>

    <nav th:replace="user/profile/profile-nav.html :: nav" style="width: 200px; margin-right: 20px;"></nav>

    <div class="mypage-container">
        <div id="mypage" class="content">
            <h3>마이페이지에 오신 것을 환영합니다!</h3>
            <br>
            <p>왼쪽 메뉴를 클릭하여 내용을 확인하세요.</p>
        </div>
    </div>

    <footer th:replace="fragments/footer.html :: footer"></footer>

</body>

</html>