<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>샘플</title>

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/nav.css">
    <link rel="stylesheet" href="/css/fragments/footer2.css">

    <link rel="stylesheet" href="/css/gallery/main.css">

</head>


<body>
    

    <!-- 헤더 포함 -->
    <header th:replace="fragments/header.html :: header"></header>

    <div class="main-layout">
        <!-- 사이드바 포함 -->
        <nav th:replace="fragments/nav.html :: nav" style="width: 200px; margin-right: 20px;"></nav>

        <div name="page-content">
            <div class="container" id="game-container">
                
    <input type="text" id="userId" class="fixed-id" th:value="${dessert.dessertName}" disabled>
    <img th:src="${dessert.dessertImage}" alt="">
    <p th:text="${dessert.dessertChara}"></p>
            </div>
            <div>
                
            </div>
        </div>
    </div>

    <!-- 푸터 포함 -->
    <footer th:replace="fragments/footer.html :: footer"></footer>


</body>
</html>